/* index */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  color: #666666;
  background: #f6f6f6;
  background-position: center;
  font-family: georgia, times, serif;
  line-height: 1.4em;
  margin: 0px;
}

.wrapper {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  background: #f6f6f6;
  position: relative;
}

.header {
  height: 400px;
  position: relative;
}

.nav {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.nav-menu {
  position: relative;
  text-decoration: none;
  text-align: center;
  margin-top: -370px;
  margin-right: 70%;
  float: right;
  z-index: 999;
}

.nav-menu ul {
  display: block;
  list-style: none;
  margin-left: 0px;
  position: fixed;
}

.nav-menu ul li {
  position: relative;
  text-align: center;
  float: left;
  background: #dcdcdc;
  box-shadow: 2px 2px 2px black;
}

.nav-menu ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0px 20px;
  line-height: 30px;
  color: #2f4f4f;
  font-size: 20px;
  text-align: center;
}

.nav-menu ul li a:hover {
  background: #fffaf0;
  color: blue;
}

.aktif {
  background: #fffaf0;
  box-shadow: 1px;
}

.slider {
  overflow: hidden;
  height: 400px;
}

.slider figure div {
  width: 20%;
  float: left;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.slider figure img {
  width: 100%;
  float: left;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 10s slidy infinite;
  padding: 0;
}

@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -100%;
  }

  95% {
    left: -100%;
  }

  100% {
    left: 0%;
  }

  100% {
    left: 0%;
  }
}

.logo {
  text-align: center;
  margin-top: -60px;
  position: relative;
  height: 100px;
}

.content {
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-top: 4.5rem;
  background: white;
}

.heading h1 {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.title {
  float: left;
  background: white;
}
.title h3 {
  padding-left: 2rem;
  color: black;
}

.utama {
  float: left;
  width: 100%;
  text-align: justify;
}

article {
  clear: both;
  overflow: hidden;
  width: 97%;
}

hgroup {
  margin-top: 40px;
  color: black;
}

figure {
  float: left;
  width: 290px;
  height: 220px;
  padding: 5px;
  margin: 20px;
  border: 1px solid #eeeeee;
}

figcaption {
  font-size: 90%;
  text-align: left;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

.date {
  font-size: 12px;
  font-style: italic;
  margin-top: 0.5rem;
}

.tampilkan_selanjutnya {
  margin-top: 2rem;
  padding-bottom: 2rem;
  color: blue;
  text-align: center;
  float: none;
  width: 100%;
}

.footer {
  padding-top: 0.5rem;
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
  background: #696969;
}

.footer img {
  height: 25px;
}

.detail {
  padding-top: 1rem;
  text-align: justify;
  width: 97%;
}

/* responsive 1080 */
@media screen and (max-width: 1080px) {
  .nav-menu {
    position: relative;
    text-decoration: none;
    text-align: center;
    margin-top: -370px;
    margin-right: 78.5%;
    float: right;
  }
}

/* responsive 1080 */
@media screen and (max-width: 1080px) {
  .nav-header {
    position: relative;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    margin-right: 77%;
    float: right;
  }
}
